<div class="footer">
        <div class="container">
            <div class="first">
                <h4>Foodish Brother</h4>
                <p>
                    “It's easier to be faithful to a restaurant than it is to a woman.” 
                </p>
                <p>Federico Fellini</p>
            </div>
            <div class="second">
                <h4>HELP</h4>
                <ul class="list">
                    <li>
                        Shipping Information</li>
                    <li> Returns & Exchange</li>
                    <li> Terms & Conditions</li>
                    <li> Privacy Policy
                    </li>
                </ul>
            </div>
            <div class="third">
                <h4>CONTACT</h4>
                <p>
                    247 Bau Cat, 13 Ward, Tan Binh District,HCM, VN</p>
                <p>19006034</p>
                <p>foodishbrother@yourdomain.com
                </p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright ©2021 All rights reserved | This application is made with by https://www.creative-tim.com/templates/angular-free</p>
        </div>
    </div>